.Parentbox{
  width: 80%;
  overflow: hidden;
  margin :auto;
  margin-top: 100px;

}
.Foto{
  float:left;
  width: 50%;
  height: 700px;
  background:white;
}
.Foto img {
  width: 100%;
}
.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info{
  line-height: 20px;
  color: black;

}
.Deskripsi .Price{
  font-size: 20px;
  font-weight: 500;
}
.Deskripsi .Title{
  margin: 0;
}
.Deskripsi .Coffe{
  color: bisque;
}